@import './variables.scss';

.woocommerce-layout__header {
  width: calc(100% - var(--menu-width) - var(--wrapper-spacing) - var(--wrapper-spacing));
  top: 52px;
  overflow: hidden;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom: 1px solid var(--border-color);
}

.woocommerce-admin-page .wp-has-current-submenu:after {
  border: 0 !important;
  border-right-color: transparent !important;
}

.woocommerce nav.woo-nav-tab-wrapper {
  margin: 1.5em 0 3em !important;
}

table.wc_status_table.widefat {
  margin-top: 40px !important;
}

.woocommerce-input-toggle {
  border: 2px solid var(--color-gray-1) !important;
  background-color: var(--color-gray-1) !important;
}

.woocommerce-input-toggle--enabled {
  border: 2px solid var(--color-accent) !important;
  background-color: var(--color-accent) !important;
}

.wc_payment_gateways_wrapper #settings-other-payment-methods {
  color: var(--color-accent) !important;
}

.components-button.is-primary {
  background: var(--color-accent);
  color: var(--bg-color);
  border-radius: var(--border-radius);
}

.components-button.is-secondary {
  background: var(--color-gray-1) !important;
  border: 1px solid var(--color-gray-1) !important;
  color: var(--color-gray-6) !important;
  border-radius: var(--border-radius) !important;
  box-shadow: none !important;
  outline: none !important
}

.components-button.is-tertiary {
  color: var(--color-accent) !important;
}

.woocommerce-task__icon {
  border-color: var(--color-accent) !important;
}

.woocommerce-task__icon::after {
  color: var(--color-accent) !important;
}

.woocommerce-task-list__item-title {
  color: var(--color-accent) !important;
}

.woocommerce-task-dashboard__container.setup-task-list ul li.is-active {
  box-shadow: inset 5px 0 0 0 var(--color-accent) !important;
}

.components-tab-panel__tabs-item:after {
  background: var(--color-accent) !important;
}

#adminmenu li.current a .awaiting-mod {
  background-color: var(--color-accent) !important;
}

.woocommerce-task-progress-header__progress-bar::-webkit-progress-value {
  background-color: var(--color-accent) !important;
}

div.woocommerce-message.woocommerce-message.updated {
  //border-left-color: var(--color-success) !important;
}

.woocommerce-embed-page .woocommerce-store-alerts {
  margin: 20px !important;
}

.woocommerce-store-alerts {
  position: relative;
  margin: 0 0 40px 0 !important;
  padding: 6px 12px 12px 46px !important;
  border: 1px solid var(--color-info) !important;
  box-shadow: none !important;
  border-radius: var(--border-radius) !important;
  overflow: hidden !important;
  background-color: var(--color-info-dark-opacity-01) !important;
}

.woocommerce-store-alerts::before {
  content: "" !important;
  position: absolute !important;
  background-repeat: no-repeat !important;
  left: 12px !important;
  top: 0 !important;
  bottom: 0 !important;
  margin: auto !important;
  width: 29px !important;
  height: 29px !important;
  background-color: transparent !important;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23076c9f' d='M142 176a6 6 0 0 1-6 6a14 14 0 0 1-14-14v-40a2 2 0 0 0-2-2a6 6 0 0 1 0-12a14 14 0 0 1 14 14v40a2 2 0 0 0 2 2a6 6 0 0 1 6 6m-18-82a10 10 0 1 0-10-10a10 10 0 0 0 10 10m106 34A102 102 0 1 1 128 26a102.12 102.12 0 0 1 102 102m-12 0a90 90 0 1 0-90 90a90.1 90.1 0 0 0 90-90'/%3E%3C/svg%3E") !important;
}

.woocommerce-store-alerts h2,
.woocommerce-store-alerts .woocommerce-store-alerts__message {
  font-size: 13px !important;
  color: var(--color-info-dark) !important;
}

.woocommerce-store-alerts h2 {
  font-weight: 550 !important;
}

.woocommerce-store-alerts .woocommerce-store-alerts__message {
  font-size: 13px !important;
}
.woocommerce-store-alerts__actions a:first-child {
  background-color: var(--color-primary) !important;
  color: var(--bg-color) !important;
}

.woocommerce-message a.woocommerce-message-close::before {
  top: 16px !important;
}